 <html>
<head>
  
   <select id="menu" onchange="window.location=this.value" style="width: 300px; font-size: 20px; background-color: #000; color:#fff; font-weight: bold; border-radius: 10px;">
  <option value="">Menu</option>
  <option value="home.html">Home</option>
  <option value="Custom.html">Custom Software</option>
  <option value="Apps.html">Apps</option>
  <option value="contact.html">Contact</option>
</select>
    <title>Solutions - Automation & AI to Even the Playing Field</title>
    <style>
        body {
            background-color: #DCDCDC;
            color: #2C2C2C;
        }
    </style>
</head>

<body>
    <h1>SmartIQ Solutions - Automation & AI to Even the Playing Field</h1>
    <iframe width="400" height="300"
    src="https://www.youtube.com/embed/BY2mTMBkuFI">
    </iframe>
    <p>Welcome to Solutions, where we provide the power of automation and AI to help even the playing field. 
    Our software-as-a-service (SaaS) solutions help businesses of all sizes get the most out of their data. 
    We can help you automate data-driven processes and drive insights with AI-powered predictive analytics. 
    Get in touch with us today and learn more about how we can help your business succeed.</p>
</body>
</html>